@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

#calendarioDeJogos {
    text-align: center;
    padding-top: 5vh;
    font-weight: bold;
}

table {
    width: 80vw;
    height: 56vh;
    border-collapse: collapse;
    background-color: rgb(243, 231, 231);
    color: black;
    margin: auto;
    margin-top: 6vh;
}

td, th {
    text-align: center;
    border: 1px solid orange;
}

thead {
    background-color: orange;

}