@charset "UTF-8";

#picture__input {
    display: none;
}

.picture {
    width: 300vw;
    aspect-ratio: 16/9;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}

.picture:hover {
    color: #777;
    background: #ccc;
}

.picture:active {
    background: rgb(153, 152, 152);
    color: rgb(56, 55, 55);
}

.picture__img {
    max-width: 100%;
}