@charset "UTF-8";

:root {
    --cor-fundo: linear-gradient(55deg, rgb(250, 165, 6), black);
    --cor-submenu: rgb(172, 114, 8);
    --cor-hover: rgb(226, 190, 30);
    --cor-primaria: rgb(231, 241, 236);
}

body {
    background-color: white;
}

.dp-menu ul li a {
    font-weight: bold;
}

header {
    height: 25vh;
}

.dp-menu ul {
    list-style-type: none;
    padding: 0;
}

.dp-menu ul {
    background-color: var(--cor-fundo);
}

.dp-menu ul ul.sub-menu {
    background-color: var(--cor-submenu);
    z-index: 1;
}

.dp-menu ul li {
    display: inline;
    position: relative;
}

.dp-menu ul li a {
    color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition-duration: 0.3s;
}

.dp-menu ul li a:hover {
    background-color: var(--cor-hover);
}

/*sub menu*/
.dp-menu ul ul {
    display: none;
    left: 0;
    position: absolute;
}

.dp-menu ul li:hover ul {
    display: block;
}

.dp-menu ul ul {
    width: 150px
}

.dp-menu ul ul li a {
    display: block;
}

/*header>nav {
    width: 100vw;

  }*/

#marcado {
    color: black;
}

a.nav-link {
    color: white;
    font-weight: bold;
    font-size: 85%;
}

a.nav-link:hover {
    color: rgb(0, 0, 0);
}

footer {
    background-color: #343a40;
    padding: 10px;
}

footer>p {
    text-align: center;
    color: white;
    font-weight: bold;
}

div.placar {
    text-align: center;
}

div#calendar>a {
    padding: 10px;
    color: white;
    font-weight: bold;
    margin-left: 3vw;
}

div#calendar>h1 {
    margin-top: 28vh;
    cursor: pointer;
}

div#calendar>a:hover {
    background-color: rgb(230, 150, 3);
}

div#jogosToday {
    text-align: center;
}

div.barra {
    width: 100%;
    height: 3vh;
    background-color: rgb(230, 150, 3);
}

.div-img {
    max-width: 50%;
}

#img-calendar {
    height: 400px;
}
/*a.navbar-brand,
  a.nav-link {
    color: white;
  }

  a.navbar-brand:hover,
  a.nav-link:hover {
    color: rgb(211, 208, 208);
  }*/