@charset "UTF-8";

.bg-color{
    padding-bottom: 5vh;
    background-color: rgb(131, 123, 107);
    margin-bottom: 4vh;;
}

.row{
    padding-top: 5vh;
}

div.col > p, h5{
    color: white;

}

div.col > h5{
    font-weight: bold;
}